<footer class="oai-footer">
    <a href="https://openai.com/policies/terms-of-use">Termos de uso</a>
    <span class="separator">
    </span>
    <a href="https://openai.com/policies/privacy-policy">Política de privacidade</a>
</footer>
</body>

</html>