<footer>
    <div class="container is-max-tablet">
        <p class="help has-text-centered">
            Don't have an account? <a href="/signup">Sign up</a> |
            Already have an account? <a href="/login">Sign in</a>
        </p>
    </div>
</footer>

</body>

</html>