<footer>
</footer>

<script>
    window.ufs = '<%- JSON.stringify(ufs) %>' // define a variavel no objeto window, tornando-a acessivel em scripts front-end
    window.cbo = '<%- JSON.stringify(cbo) %>'
</script>
<script src="/javascripts/script.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js"></script> -->
</body>

</html>