<%- include('../layouts/header'); -%>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Aqui voce deve estar autenticado
            </h1>
            <p class="subtitle">
                por enquanto não está
            </p>
            <% if (user) { %>
                <h1 class="title">
                    <%= user.name %>
                </h1>
                <p class="subtitle">
                    <%= JSON.stringify(user, null, 8) %>
                </p>
            <% }  %>
        </div>
    </section>
    <%- include('../layouts/footer'); -%>