<%- include('../layouts/header'); -%>
    <section class="section">
        <div class="container">
            <h1 class="title">
                <%= user %>
            </h1>
            <p class="subtitle">
                <%= user %>
            </p>
        </div>
    </section>
    <%- include('../layouts/footer'); -%>