<%- include('../layouts/header'); -%>
    <section class="section">
        <h1>Fazer Login</h1>
        <section class="section is-medium">
            <div class="container is-max-tablet">
                <% if (message) { %>
                    <h1 class="subtitle">
                        <%= message %>
                    </h1>
                    <% } %>
                <div class="box">
                    <form action="/login" method="post">

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" name="email" type="email" placeholder="Text input">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" name="password" type="password" placeholder="Text input">
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Fazer login</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>
        <div class="container is-max-tablet">
            <p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </section>
    <%- include('../layouts/footer'); -%>