<%- include('../layouts/header'); -%>
    <section class="section">
        <h1>Criar Conta</h1>
        <div class="container is-max-tablet">
            <div class="box">
                <form action="/signup" method="post">

                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" name="name" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" name="username" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" name="email" type="email" placeholder="Email input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" name="password" type="password" placeholder="password">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">State</label>
                        <div class="control">
                            <select id="state" class="input" name="state" required onclick="fetchCities()">
                                <option value="" disabled selected> Estado </option>
                                <% ufs.forEach(uf=> { %>
                                    <option value=<%=uf.abbreviation %>><%= uf.name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">City</label>
                        <div class="control">
                            <select id="city" class="input" name="city" required>
                                <option value="" disabled selected>Cidade </option>
                            </select>
                        </div>
                    </div>


                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Criar conta</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <div class="container is-max-tablet">
        <p class="help">Already have an account? <a href="/login">Sign in</a></p>
    </div>
    <%- include('../layouts/footer'); -%>