<%- include('../layouts/header'); -%>
    <section class="section">
        <div class="container">
            <% if (message) { %>
                <p class="subtitle">
                    <strong>
                        <%= message %>
                    </strong>
                </p>
                <% } %>
        </div>
    </section>
    <%- include('../layouts/footer'); -%>