<%- include('../layouts/header'); -%>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Erro
            </h1>
            <div class="container">
                <% if (message) { %>
                <p class="subtitle">
                    <strong>
                        <%= message %>
                    </strong>
                </p>
                <% } %>
                <% if (err) { %>
                <p class="subtitle">
                    <strong>
                        <%= err %>
                    </strong>
                </p>
                <% } %>
            </div>

        </div>
    </section>
    <%- include('../layouts/footer'); -%>