<%- include('../layouts/header'); -%>
    <section class="section">
        <% if (user) { %>
            <a href="/user" class="button is-warning">&#8678; Voltar</a>
            <% } else { %>
                <a href="/" class="button is-warning">&#8678; Voltar</a>
                <% } %>
    </section>
    <%- include('../layouts/footer'); -%>