<%- include('../layouts/header'); -%>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Erro
            </h1>
            <div class="container">
                <p class="subtitle">
                    <strong>
                        <%= message %>
                    </strong>
                </p>
                <p class="subtitle">
                    <strong>
                        <%= error %>
                    </strong>
                </p>
            </div>

        </div>
    </section>
    <%- include('../layouts/footer'); -%>