<%- include('../layouts/header'); -%>
    <%- include('../layouts/searchForm') %>
        <section class="section">
            <div class="container">
                <p class="subtitle has-text-centered">É um profissional !?</p>
                <p class="subtitle has-text-centered"> <a href="/signup">Crie uma conta</a> e apareça aqui! </p>
                <p class="help has-text-centered"> Já tem uma conta? <br><a href="/login">Sign in</a> </p>
            </div>
        </section>
        <%- include('../layouts/cards') %>
            <%- include('../layouts/footer'); -%>