<%- include('../layouts/header'); -%>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello World
            </h1>
            <p class="subtitle">
                My first website with <strong>Bulma</strong>!
            </p>
        </div>

        <!-- <section class="section"> -->
        <div class="container is-max-tablet is-centered">

            <h1 class="subtitle has-text-centered">Encontre um profissional</h1>

            <form action="/" method="post">
                <div class="field column is-horizontal">

                    <div class="field column is-one-third">
                        <label class="label"></label>
                        <div class="control">
                            <input class="input" name="category" type="text" placeholder="profissional">
                        </div>
                    </div>

                    <div class="field column is-one-third">
                        <label class="label"></label>
                        <div class="control">
                            <input class="input" name="city" type="text" placeholder="cidade">
                        </div>
                    </div>

                    <div class="field column is-one-third">
                        <label class="label"></label>
                        <div class="control">
                            <input class="input" name="state" type="text" placeholder="estado">
                        </div>
                    </div>

                    <div class="field column is-one-third">
                        <label class="label"></label>
                        <div class="control">
                            <button class="button is-link">Pesquisar</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- </section> -->

        <%- include('../layouts/featuredCards')%>
    </section>
    <%- include('../layouts/footer'); -%>