<%- include('../layouts/header'); -%>
<%- include('../layouts/searchForm') %>
    <section class="section">
        <%- include('../layouts/foundCard') %>
    </section>
    <%- include('../layouts/footer'); -%>